@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hue: 220; /* Cambia este valor para ajustar el tono del color */
  --shadow: oklch(25% .2 var(--hue));
  --highlight: oklch(98% .05 var(--hue));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer custom {
  .highlighted-text-shadow {
    text-shadow:
      0 .15ch 15px var(--shadow),
      0 -2px 0 var(--highlight);
  }
}

.text-outline {
  -webkit-text-stroke: 2px #fff; 
  color: transparent; 
}

.icon-wrapper {
  width: 30px; 
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper svg {
  width: 100%;
  height: 100%;
}


.accordion-item {
  margin-bottom: 8px;
}

.accordion-header {
  cursor: pointer;
}

.accordion-content {
  display: block;
}